<footer class="main-footer">
        Copyright &copy; @DateTime.UtcNow.Year <a href="javascript:void()">CarGuru</a>.
        All rights reserved.
    
    <span class="float-right">
        Design and Developed By
        <a href="http://xevensolutions.com" target="_blank">Xeven Solutions</a>
    </span>
</footer>
