@model CarGuru.ViewModels.ProductViewModel
@inject CarGuru.Services.Interfaces.ISessionManager x;
<style>
    .sub-cat-delete{
            position: absolute;
    right: 22px;
    /* padding: 20px; */
    z-index: 11;
    top: 10px;
    color: red;
    }
</style>
<form asp-action="CategoryAddOrEdit" asp-controller="ProductCategory" method="post" data-ajax="true" data-ajax-success="OnCategorySuccess(data)">
    <div class="addFleetForm">
        <div class="row">
            <input type="hidden" asp-for="Category.Id" />
            <div class="col-md-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control " id="Name" asp-for="Category.Title" placeholder="Enter Name">
                    <span asp-validation-for="Category.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="" style="padding:10px;"><label for="exampleInputEmail1">Sub Category</label><span class="btn btn-primary float-right add-divU"><i class="fa fa-plus"></i></span></div>
                </div>
            </div>
            @*@{
                    if(Model.Category.SubCategories.Count == 0)
                    {
                        subCount = 1;
                    }
                    else
                    {
                        subCount = Model.Category.SubCategories.Count;
                    }
                }*@
            <div class="addSubContentU col-md-12">
                @if (Model.Category.ProductSubCategories.Count == 0)
                {
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="Category.ProductSubCategories[0].Id" name="Category.ProductSubCategories[0].Id">
                            <input type="text" class="form-control" id="Category.ProductSubCategories[0].Title" name="Category.ProductSubCategories[0].Title" placeholder="Sub Category" data-val="true" data-val-required="Sub Category is required.">
                            <span class="text-danger field-validation-error" data-valmsg-for="Category.ProductSubCategories[0].Title" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                }
                else
                {
                    @for (int i = 0; i < Model.Category.ProductSubCategories.Count; i++)
                    {
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" class="form-control" asp-for="Category.ProductSubCategories[i].Id">
                                <input type="text" class="form-control" asp-for="Category.ProductSubCategories[i].Title" placeholder="Sub Category"><span><i class="fa fa-trash sub-cat-delete" onclick="deleteSubCategory('@Model.Category.ProductSubCategories[i].Id')"></i></span>
                                <span asp-validation-for="Category.ProductSubCategories[i].Title" class="text-danger"></span>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-secondary float-right" id="AddBtn">Update</button>
    </div>
</form>
<script>
    var subIndex = @Model.Category.ProductSubCategories.Count;
    subIndex = subIndex - 1;

         $(".add-divU").on("click", function () {
        subIndex++;
        var meanscontent = '<div class="col-md-12">'+
                            '<div class="form-group">'+
                                '<input type="text" class="form-control" id="Category.ProductSubCategories['+subIndex+'].Title" name="Category.ProductSubCategories['+subIndex+'].Title" placeholder="Sub Category" data-val="true" data-val-required="Sub Category is required.">'+
                                '<span class="text-danger field-validation-error" data-valmsg-for="Category.ProductSubCategories['+subIndex+'].Title" data-valmsg-replace="true"></span>'+
                            '</div>'+
                        '</div>';


             $(".addSubContentU").append(meanscontent);

    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
        return false;
         });

</script>