@if (Model.Categories != null)
{
    @if (Model.Categories.Count > 0)
    {
        var count = 1;
        <table class="table table-striped">
            <thead class="bg-colorBlack">
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th class="actionColumn">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Title</td>
                        <th>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="javascript:void()" onclick="EditModal(@item.Id)" data-toggle="modal" data-target="#modal-warning"><i class="fa fa-edit" aria-hidden="true" style="margin-right:8px;"></i>Edit</a>
                                            <a class="dropdown-item followUp" href="javascript:void()" onclick="DeleteCategory(@item.Id)"><i class="fa fa-trash" aria-hidden="true" style="margin-right:8px;"></i>Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    count++;
                }

            </tbody>
        </table>
    }
    else
    {
        <h3>No Record Found</h3>
    }
}
