
@{
    ViewData["Title"] = "Notification";
    Layout = "~/Views/Shared/_LayoutCallCenter.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-2">
                <h1>Notifications</h1>
            </div>
            <div class="col-md-10">
                <form class="form-inline float-right">
                    <div class="input-group bg-white">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar " type="submit">
                                <i class="fas fa-search "></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-colorBlack">
                        <h3>Select Notification Option.</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <p>Select notification for Customer and Technician below.(Leave blank to not send any notification).</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="dropdown-item" href="#" style="margin-left:-15px;"><i class="fas fa-user" aria-hidden="true" style="margin-right:8px;"></i>Call Center(Optional)</a>

                                        <div class="custom-control custom-switch" style="margin-top:10px;">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch17" unchecked>
                                            <label class="custom-control-label" for="customSwitch17">Email</label>
                                        </div>
                                        <div class="custom-control custom-switch" style="margin-top:10px;">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch18" unchecked>
                                            <label class="custom-control-label" for="customSwitch18">SMS</label>
                                        </div>
                                        <div class="custom-control custom-switch" style="margin-top:10px;">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch23" unchecked>
                                            <label class="custom-control-label" for="customSwitch23">InApp</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Content1" style="margin-top:10px; padding-left:10px; padding-right:10px;">
    <div class="card">
      
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <p>*Note:You must have a notification option selected above to schedule appointment notification.</p>
                    </div>

                    <div class="row">
                      
                        <div class="col-md-4">
                            <a class="dropdown-item" href="#" style="margin-left:-15px;"><i class="fas fa-user" aria-hidden="true" style="margin-right:8px;"></i>Call Center</a>

                            <div class="custom-control custom-switch" style="margin-top:10px;">
                                <input type="checkbox" class="custom-control-input" id="customSwitch13" unchecked>
                                <label class="custom-control-label" for="customSwitch13">Service Request</label>
                            </div>
                            <div class="custom-control custom-switch" style="margin-top:10px;">
                                <input type="checkbox" class="custom-control-input" id="customSwitch14" unchecked>
                                <label class="custom-control-label" for="customSwitch14">Quotation Request</label>
                            </div>
                            <div class="custom-control custom-switch" style="margin-top:10px;">
                                <input type="checkbox" class="custom-control-input" id="customSwitch15" unchecked>
                                <label class="custom-control-label" for="customSwitch15">Follow Up</label>
                            </div>
                            <div class="custom-control custom-switch" style="margin-top:10px;">
                                <input type="checkbox" class="custom-control-input" id="customSwitch01" unchecked>
                                <label class="custom-control-label" for="customSwitch01">Late Technician</label>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class=" clearfix mt-1">
    <button type="button" class="btn btn-secondary mb-2 mr-2" style="float:right;">Save</button>
</div>
   


